body{
	background-color: #f5f1e9;
  font-size: 3vh;
  font-family: arial;
}

.window{
  background-color: #dcf0f7;
  position: relative;
  text-align: center;
  top: 5vh;
  width: 50vw;
  height: 80vh;
  margin: auto;
  border-style: solid;
  border-color: #ebe2d5;
  border-width: 2vh;
}

.text{
  position: relative;
  width: 30vw;
  margin: auto;
  top: 20vh;
  color: #857661;
}

@media (max-width: 1000px) {
  .window {
    background-color: #849ec2;
  }
  body{
  background-color: #cfaf82;}
  .text{
    color: #dbd7d0;
  }
}

@media (max-width: 700px) {
  .window {
    background-color: #1a1a38;
  }
  body{
  background-color:gray;}
}
